@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat');


body {
   font-family: "Crimson Text", "Times New Roman", serif ;
   font-size: 17px;
   color: #222;
}

.Header, h1 {
    font-family: "Montserrat", "Arial", sans-serif
}

.Header {
    border-bottom: 1px solid #CCC;
}

.header-text {
    color: #222;
    font-size: 1.6em;
    margin: .5em;
    letter-spacing: .05em;
}

.Header a:hover {
    text-decoration: none;
}

.recipe-title {
    display:inline-block;
    font-weight: bold;
    margin-bottom: 1em;
}

.recipe-author {
    display:inline-block;
    margin-left: .5em;
    font-size: 1.1em;
}

.recipe-description {
    font-style: italic;
    margin-bottom: 2em;
}

.action-link {
    cursor:pointer;
    color: #007BFF !important;
}

.delete-link-container {
    display:block;
    margin-top:2em;
}

.delete-link {
    color: #E22 !important;
}

.delete-link:hover {
    color: #B00;
}

.new-recipe-link {
    float:right;
}

.List {
    margin: 1rem;
}
.App {
    margin: 1rem;
}

input[type="submit"]:disabled {
    color: #999;
}
